*   {
    color: darkslategray;
    font-family: sans-serif;
}
h1 {
    color:darkblue;
    text-align: center;
    font-family: fantasy
}
h2  {
    text-decoration: underline;
    font-size: 125%;
}
p,ul{
    text-align: justify;
    font-size: 90%;
}
h5  {
    font-size: 100%;
}
ul  {
    list-style-type:square;
}
.biblio {
    list-style: disc;
    text-align: left;
}
a   {
    color: blue;
}
.menu {
    position: fixed;
    top: 0;
    width:100%;
    background-color: white;
    padding-top: 60px;
}
td {
    text-align: center;
}
/*
LAS RESPUESTAS TAMBIÉN ESTÁN EN EL HTML LAB_1.html


<h2 id="css"> Preguntas CSS</h2>
            <h5>Como ingeniero de software ¿Cuál es tu recomentación sobre el uso de !important en CSS</h5>
            <p> Lo que !important hace es que, al ponerlo en un estilo, obliga al explorador a prevalecer este estilo sin importar si el estilo se ha cambiado más adelante. Esto quiere decir que si primero se declaró que los párrafos iban a ser rojos y se le agrega el atributo !important, no importa si más adelante se declara que los párrafos deban ser de otro color, pues el estilo que lleva el !important es el que se aplicará.</p>
            <p>!important se puede usar para que el desarrollador haga pruebas o revise por qué no se están aplicando los estilos. Sin embargo, no se considera como buena practica dejar este atributo. Por el contrario, éste debe quitarse una vez que se entienda el problema y el código debe ser arreglado para que funcione sin el uso de !importance. Esto porque altera el orden cascada que lleva CSS [23]</p>
            <h5>Si se pone una imagen de fondo en una página HTML, ¿por qué debe escogerse con cuidado?</h5>
            <p>Las cuestiones con imagenes de fondo podrían ser, en primer lugar, que una imagen debe cumplir con ciertas proporciones para que no se distorsione. Además, se debe tener cuidado con el tamaño de la imagen, para que ésta no haga muy pesada el sitio. Por otra parte, puede que partes de la imagen tenga conflictos visuales con los contenidos de la página, al momento en que se sobreponga contenido de un color que coincida con el color de la imagen. Esto se puede llegar a solucionar poniendo un element medianamente transparente entre la imagen y el contenido</p>
            <h5>Como ingeniero de software, ¿cuál es tu recomendación al elegir las unidades de un propiedad de estilo entre %, px y pt?</h5>
            <p>Personalmente considero que la mejor opción para definir las unidades de tamaño de un estilo debe ser %. Esto, debido a que es una medida relativa, lo que hace que no haya distorsión y que el contenido ajuste su tamaño dependiendo de la ventana en la que éste se encuentre.</p>
            <h5>¿Por qué el uso de una versión minimizada del CSS mejora el rendimiento del sitio?</h5>
            <p>La mejorase debe que la descarga del sitio se vuelve más rápida pues, en vez de que el explorador deba leer muchas líneas de código, con la versión minimizada, éste solo debe leer una gran línea.</p>
*/